@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme (default) */
  --custom-green: #7dff8a;
  --custom-dark: #101010;
  --custom-light: #fafafa;
}

@layer base {
  body {
    @apply bg-custom-light text-custom-dark;
    font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium;
  }
  
  .btn-primary {
    @apply btn bg-custom-green text-custom-dark;
  }
  
  .btn-secondary {
    @apply btn bg-gray-200 text-custom-dark;
  }
}